
body {
background: #fffff;
}

/** Increase link readability 
*   http://sixrevisions.com/usability/hyperlink-design/
*/
a {
color: #4183C4; /*#2A5DB0*/
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-decoration: none;
padding-bottom: 0.4px;
border-bottom: 1px solid #bcbebf;
word-spacing: 2px; 
}

/** Increase bullet point readability */
li {
margin: 1.8% 0;
#main-title {
position: relative;    /* Give absolute children a reference point */
padding: 7px 0;
margin-bottom: 28px;
border-bottom: solid 1px #e1e4e5;
}

#page-frame {
position: relative;
right: 100px;
width: 680px;
padding: 30px;
margin: 0 auto;
font-family: Lato, Arial, sans-serif;
font-size: 18px;
}

#page-frame p {
line-height: 140%;
margin: 20px 0;

text-align: justify;
hyphens: auto;

-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
}

#page-frame ul {
margin: 27px 0;
}

#table-of-contents
{
position: absolute;
}

#table-of-contents.fixed {
position: fixed;
top: 0;
}

#table-of-contents ul {
margin: 0;
margin-top: 19px;
}

#table-of-contents  li {
list-style-type: none;
list-style-position: outside;
line-height: 30.6px;
}

#table-of-contents a  {
border-bottom: none;
word-spacing: 0;
font-size: 16px;
}

.image-frame {
margin: 25px auto; width: auto;
}

.image-frame p {
text-align: center; font-size: 80%; padding-top: 10px;
}

.image-frame img {
display: block;
margin: auto;
padding: auto;
}

img.icon {
width: 16px;
height: 16px;
position: relative;
top: 3px;
}

blockquote {
font-family: Lora, serif; font-size: 110%;
font-style: italic;
letter-spacing: -0.4px;
line-height: 140%;
color: #807b7b;
margin: 40px;
}

.quotesign {
position: relative;
top: 21.5px; left: -30px;
font-family: "Times New Roman", serif;
font-size: 220%;
line-height: 0;
}

p.code-block { 
background-color: white; 
font-family: Inconsolata, monospace; 
font-size: 12pt;
border-style: solid; 
border-color: #e1e4e5; 
border-width: 1px; 
margin: 25px 0;
padding: 10px 0 10px 15px;
}

p.code-block span.value { 
color: #990052; 
}
p.code-block span.var { 
color: Teal; 
}

.note-header:before  {
font-family: "Comic Sans", monospace; content: "!";
font-size: 125%;
padding-right: 1px;
}

.note-header { 
background-color: #6ab0de; 
color: #ffffff; 
font-family: "Roboto Slab", monospace;
font-size: 15.5px;
font-weight: bold;
letter-spacing: 1.5px;
line-height: 28px;
border-bottom: none; 
margin-top: 25px; 
margin-bottom: 0; 
padding: 0 20px;
border: 1px solid #e1e4e5; 
}

.note-body { 
background-color: #e7f2fa; 
font-size: 90%; 
padding: 15px 20px; 
margin-top: 0; 
margin-bottom: 25px; 						   
border: 1px solid #e1e4e5; 
border-top: none; 
}

.note-important-header {
background-color: #1abc9c;
}

.note-important-body {
background-color: #dbfaf4;
}

h1, h2, h3, h4, h5, h6 { 
font-family: "Roboto Slab", Arial, serif;
font-weight: bold; 
margin-bottom: 2px; 
padding-bottom: 3px; 
}

h1 {
font-size: 30px;
margin: 15px 0;
padding: 0;
}

h2 { 
font-size: 25px; 
margin-top: 35px; 
}

h3 { 
font-size: 22px; 
margin-top: 30px; 
}

hr { 
background-color: #e1e4e5;
height: 1px;
border: 1px; 
margin-top: 8px; 
margin-bottom: 13px; 
}

hr.top {
margin-top: 4px;
margin-bottom: 0;
}

code { 
font-size: 13px; 
color: #E74C3C; 
border: solid 1.5px #e1e4e5; 
padding: 0 4px;
}

/* Imitates software UI messages */
code.UI { 
color: black; 
background-color: #f0f0f0; 
}
